.video-play-1000 {
    line-height: 64px;
}

.video-play-1000 a {
    color: #747474;
}

.learn-title {
    height: 100px;
    background: red;
}

.learn-title .learn {
    font-size: 24px;
    color: #fff;
    padding: 13px 0 0 26px;
}

.learn-title .learn-des {
    font-size: 14px;
    color: #929291;
    padding: 6px 26px 0 26px;
}

.learn-video {
    width: 1000px;
    height: 560px;
}

.learn-video-info {
    height: 84px;
    background: #101213;
    line-height: 84px;
}

.learn-video-info .left {
    width: 50%;
    float: left;
}


.learn-video-info .left p {
    float: left;
    padding-left: 38px;
    font-size: 14px;
}

.learn-video-info .left p a {
    color: #1abc9c;

}

.learn-video-info .right {
    width: 350px;
    height: 84px;
    float: right;
    position: relative;
    margin-right: 40px;
}

.learn-video-info .right .right-num {
    width: 260px;
    height: 40px;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;

}

.learn-video-info .right .right-num a {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: #1d1d1d;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 0 6px;
    position: relative;
    line-height: 40px;
}

.learn-video-info .right .right-num a:hover {
    width: 36px;
    height: 36px;
    border: 2px solid #29bb9c;
    font-size: 14px;
    line-height: 36px;
}



